In [4]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

In [5]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']
ligas = ['ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','HOLANDA']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [6]:
df_ligas['URL'][1]

'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1'

In [8]:
df = pd.read_html(df_ligas['URL'][1])

In [9]:
len(df)

2

In [17]:
df[0]

                      2023/2024
0                   1ARSArsenal
1                 2LIVLiverpool
2           3MCIManchester City
3               4AVLAston Villa
4         5TOTTottenham Hotspur
5         6MUNManchester United
6           7WHUWest Ham United
7    8BHABrighton & Hove Albion
8   9WOLWolverhampton Wanderers
9         10NEWNewcastle United
10                 11CHEChelsea
11                  12FULFulham
12         13BOUAFC Bournemouth
13          14CRYCrystal Palace
14               15BRNBrentford
15                 16EVEEverton
16              17LTNLuton Town
17       18FORNottingham Forest
18                 19BRNBurnley
19  20Sheff UtdSheffield United

In [8]:
df[1]

    J  G  E  P  GF  GC  DIF  PTS
0   7  6  0  1  17   7   10   18
1   7  5  2  0  23   6   17   17
2   7  5  2  0  18   7   11   17
3   6  4  1  1  11   5    6   13
4   6  4  0  2   8   8    0   12
5   7  3  2  2  12  11    1   11
6   6  3  1  2   8   9   -1   10
7   6  2  3  1  15   6    9    9
8   7  2  3  2  15  12    3    9
9   7  1  5  1   8   7    1    8
10  6  2  2  2  10  10    0    8
11  7  2  2  3   6  19  -13    8
12  7  1  4  2   5   6   -1    7
13  7  2  1  4   7  11   -4    7
14  7  2  1  4   6  10   -4    7
15  6  1  3  2   7   9   -2    6
16  7  1  3  3   3   7   -4    6
17  7  1  1  5   3   9   -6    4
18  7  1  1  5   6  17  -11    4
19  7  0  1  6  10  22  -12    1

In [18]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                              0   1   2  3   4   5   6   7   8
0                   1ARSArsenal  28  20  4   4  70  24  46  64
1                 2LIVLiverpool  28  19  7   2  65  26  39  64
2           3MCIManchester City  28  19  6   3  63  28  35  63
3               4AVLAston Villa  29  17  5   7  60  42  18  56
4         5TOTTottenham Hotspur  28  16  5   7  59  42  17  53
5         6MUNManchester United  28  15  2  11  39  39   0  47
6           7WHUWest Ham United  29  12  8   9  46  50  -4  44
7    8BHABrighton & Hove Albion  28  11  9   8  50  44   6  42
8   9WOLWolverhampton Wanderers  28  12  5  11  42  44  -2  41
9         10NEWNewcastle United  28  12  4  12  59  48  11  40
10                 11CHEChelsea  27  11  6  10  47  45   2  39
11                  12FULFulham  29  11  5  13  43  44  -1  38
12         13BOUAFC Bournemouth  28   9  8  11  41  52 -11  35
13          14CRYCrystal Palace  28   7  8  13  33  48 -15  29
14               15BRNBrentford  29   7  5  17  41  54 -13  26
15                 16EVEEverton  28   8  7  13  29  39 -10  25
16              17LTNLuton Town  29   5  7  17  42  60 -18  22
17       18FORNottingham Forest  29   6  7  16  35  51 -16  21
18                 19BRNBurnley  29   4  5  20  29  63 -34  17
19  20Sheff UtdSheffield United  28   3  5  20  24  74 -50  14

In [19]:
df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA'] = df_ligas['LIGA'][1]

In [20]:
df

                     EQUIPO   J   G  E   P  GF  GC  DIF  PTS        LIGA
0                   Arsenal  28  20  4   4  70  24   46   64  INGLATERRA
1                 Liverpool  28  19  7   2  65  26   39   64  INGLATERRA
2           Manchester City  28  19  6   3  63  28   35   63  INGLATERRA
3               Aston Villa  29  17  5   7  60  42   18   56  INGLATERRA
4         Tottenham Hotspur  28  16  5   7  59  42   17   53  INGLATERRA
5         Manchester United  28  15  2  11  39  39    0   47  INGLATERRA
6           West Ham United  29  12  8   9  46  50   -4   44  INGLATERRA
7    Brighton & Hove Albion  28  11  9   8  50  44    6   42  INGLATERRA
8   Wolverhampton Wanderers  28  12  5  11  42  44   -2   41  INGLATERRA
9          Newcastle United  28  12  4  12  59  48   11   40  INGLATERRA
10                  Chelsea  27  11  6  10  47  45    2   39  INGLATERRA
11                   Fulham  29  11  5  13  43  44   -1   38  INGLATERRA
12          AFC Bournemouth  28   9  8  11  41  52  -11   35  INGLATERRA
13           Crystal Palace  28   7  8  13  33  48  -15   29  INGLATERRA
14                Brentford  29   7  5  17  41  54  -13   26  INGLATERRA
15                  Everton  28   8  7  13  29  39  -10   25  INGLATERRA
16               Luton Town  29   5  7  17  42  60  -18   22  INGLATERRA
17        Nottingham Forest  29   6  7  16  35  51  -16   21  INGLATERRA
18                  Burnley  29   4  5  20  29  63  -34   17  INGLATERRA
19   ff UtdSheffield United  28   3  5  20  24  74  -50   14  INGLATERRA

In [21]:
df_ligas.to_csv('df_ligas.csv',index=False)

In [12]:
def id_generator(team):

    return str(uuid.uuid1())[:8]

In [13]:
id_generator('carro')

'33801dc0'

In [14]:
id_generator('gato')

'3485ec86'

In [15]:
lista_resultado = 0

In [16]:
equipos = df_hola['EQUIPO'].unique()
lista_resultado = list(map(id_generator, equipos))

NameError: name 'df_hola' is not defined

In [ ]:
team_table = {

    'EQUIPO':equipos,
    'ID_TEAM':lista_resultado
}

df_team = pd.DataFrame(team_table)

In [ ]:
df_team['ID_TEAM'].value_counts()

In [ ]:
df_team.to_csv('team_table.csv',index=False)

In [ ]:
pd.read_csv('df_ligas.csv')

In [ ]:
df_final = pd.merge(df_hola,df_team,how='inner',on='EQUIPO')
df_final.columns
df_final = df_final[['ID_TEAM','EQUIPO', 'J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS', 'LIGA',
       'CREATED_AT']]
df_final

In [ ]:
df_final.to_csv('premier_positions.csv',index=False)

In [ ]:
lista_resultado[0]

In [ ]:
hash('hola')

In [ ]:
df_hola